html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, cite, code,
em, img,
small, strike, strong, sub, sup,
b, u, i, center,
ol, ul, li,
article, aside, canvas,
figure, figcaption, footer, header,
menu, nav, section,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
  background-color: white;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
